h2{
  font-family: cursive;
}

header {
   width: 960px;
   background-color: blue;
   display: flex; 
   justify-content: space-between;
}

div {
  display: inline-flex;
  /* justify-content: ; */
  /* margin-left: 20rem; */
  /* flex-direction: row;  */
  /* align-content: flex-start; */
  background-color: red;
  width: 20px;
  
}

section > img {
  max-width: 25%;
  max-height: 25%;
}

footer {
  display: flex;
 justify-content: flex-end;
}
 button {
   width: 10px;
   height: 10px;
 }